/********** Body **********/
body {
    background-color: aliceblue;
    text-align: center;
    font-family: Arial, sans-serif;
}

/********** h1 **********/
h1 {
    color: royalblue;
    font-size: 3rem;
    font-family: 'Times New Roman', serif;
}

/********** p **********/
p {
    font-size: 1rem;
    font-weight: normal;
}

/********** h2 **********/
h2 {
    font-weight: 500;
}

/****************************** Classes ******************************/

/********** .quiz **********/
.quiz {
    margin: 20px;
    text-align: left;
}

/********** .question **********/
.question {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 20px;
}

/********** .answer **********/
.answer {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin: 20px;
}