<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates - Media Queries</title>
</head>
<style>
    @media (min-width: 319px) and (max-width: 480px) {
        /* Media query structure for 319px - 480px */
    }

    @media (min-width: 481px) and (max-width: 1200px) {
        /* Media query structure for 481px - 1200px */
    }

    @media (min-width: 1201px) and (max-width: 1600px) {
        /* Media query structure for 1201px - 1600px */
    }

    @media (min-width: 1601px) {
        /* Media query structure for 1601px and above */
    }
</style>

<body>
    <h1>Media Query Templates for common screen sizes</h1>
    <h3>319-480px</h3>
    <p>@media (min-width: 319px) and (max-width: 480px) { <br>
        /* Media query structure for 319px - 480px */ <br>
        }
    </p>
    <h3>481-1200px</h3>
    <p>
        @media (min-width: 481px) and (max-width: 1200px) { <br>
        /* Media query structure for 481px - 1200px */ <br>
        }
    </p>
    <h3>1201-1600px</h3>
    <p>
        @media (min-width: 1201px) and (max-width: 1600px) { <br>
        /* Media query structure for 1201px - 1600px */ <br>
        }
    </p>
    <h3>1600px +</h3>
    <p>
        @media (min-width: 1601px) { <br>
        /* Media query structure for 1601px and above */ <br>
        }
    </p>



</body>

</html>