* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.container {
    border: 1px solid white;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 5%;
}
/* font-family: "Libre Baskerville", serif; */